html{
  scroll-behavior: smooth;
  min-width: 1200px;
}
main {
  background-color:#d9d9d900;
  font-family: 'Bree Serif', serif;
}
body {
  background: url('images/index-background.jpg') no-repeat center center fixed;
  background-size: cover;
}
header{
  background-color: white;
  margin-bottom: 0;
}
.top-container {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 0;
}
.top-container h1{
  display: inline;
  font-family: 'Bree Serif', serif;
  color:#DB7093;
  font-weight:800;
}
#search-box {
  float: right;
  width:25%;
}
/*header*/
.nav-bar {
  background-color: #F4F1E2;
}
.nav-bar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-family: 'Bree Serif', serif;
  justify-content: center;
 /* Updated to center the links */
}
.nav-bar ul li a{
  color:black;
  padding:2px 3px;
  border-radius:10px;
  font-size: large;
  padding-left: 10px;
  letter-spacing: 2px;
}
.nav-bar ul li a:hover{
  color:#DB7093;
  text-decoration:none;
  background-color:#A9A9A9;
  transition:background-color 150ms ease-in-out;
}
.nav-bar ul li a:active{
  text-decoration:none;
  color:#D498B1;
}
.nav-bar ul li a:visited{
  text-decoration:none;
  color:#B48286;
}
.index-part-1-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -1%;
  content: cover;
}
#index-part-1-right {
  padding-top:50px;
  padding-bottom:25px;
  width:25%;
  align-items: center;
  display: inline;
  float: right;
  background-color: blanchedalmond;
  border:2px solid #D3D3D3;
  border-radius:15px;
  text-align:center;
}
.collection-btn {
  margin: 0 30% 0 30%;
  padding:10px;
}
.btn-outline-secondary {
  margin: 0 30% 0 30%;
  --bs-btn-hover-color: var(--bs-white);
  font-size: small;
}
.row {
  margin: 0;
  padding: 0;
}
.col-6, .col-md-4 {
  padding: 0;
}
.gallery-item {
  position: relative;
  overflow: hidden;
}
.index-part-2-container .gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
}
.index-part-2-container .gallery-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(222,198,198, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  color: #fdefef;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.index-part-2-container .gallery-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.index-part-2-container .gallery-item:hover .gallery-item-overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.index-part-3-container {
  display: flex;
  flex-direction: column;
  background-color:#D9D9D9 !important;
}
.index-part-3-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  text-align:center;
  padding:10px 15px;
}
.index-part-3-container div p{
  color:black !important;
}
.index-part-3-container img {
  padding:25px 25px;
  max-width: 10%;
  height: auto;
  margin-right: 20px;
  border: 2px solid black;
  border-radius:50%;
}
/* About Page */
.planContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column {
  width: 30%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
}
.column h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.column p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.column button {
  background-color: #DB7093;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
/* Breadcrumbs */
.about{
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 2% 5% 2% 0%;
}
.myBreadcrumbs{
  padding-top: 10%;
}
.bc-back {
  width: 100px;
}
.bc-back ul {
  display: block;
  margin-bottom: 0;
  list-style: none;
}
.bc-back ul li {
  white-space: nowrap;
}
.bc-back ul li a {
  text-decoration: none;
}
.bc-back ul.bc-nav-history {
  padding-left: 36px;
  padding-top: 25px;
  pointer-events: none;
}
.bc-back ul.bc-nav-history li {
  margin-bottom: 5px;
}
.bc-back ul.bc-nav-history li::after {
  content: '';
  position: absolute;
  left: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #696969;
  transform: scale(0.9);
  transition: all 0.2s ease;
}
.bc-back ul.bc-nav-history li:not(:last-child)::before {
  content: '';
  position: absolute;
  left: 17px;
  margin-top: 10px;
  width: 2px;
  height: 28px;
  background:#696969;
  transition: all 0.2s ease;
}
.bc-back ul.bc-nav-history li.active {
  pointer-events: none;
}
.bc-back ul.bc-nav-history li.active::after {
  background: #DB7093;
}
.bc-back ul.bc-nav-history li.active a {
  color: #DB7093;
}
.bc-back ul.bc-nav-history li a {
  color: #0e0e0e;
  display: inline-block;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}
.bc-back ul.bc-nav-history li a:hover {
  color: #DB7093;
}
.bc-back ul.bc-nav-links {
  position: absolute;
  transform: translateY(-10px);
  margin-top: 20px;
  padding-left: 12px;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}
.bc-back ul.bc-nav-links li:not(:last-child) {
  margin-bottom: 5px;
}
.bc-back ul.bc-nav-links li a {
  font-size: 14px;
  font-weight: 600;
  color: #c8ccd4;
  transition: color 0.2s ease;
}
.bc-back ul.bc-nav-links li a:hover {
  color: #9098a9;
}
.bc-back:hover {
  width: auto;
}
.bc-back:hover .bc-menu-back {
  opacity: 1;
  transform: translateY(0);
}
.bc-back:hover .btn-back div {
  background:#DEC6C6 ;
}
.bc-back:hover .btn-back div svg path, .bc-back:hover .btn-back div svg polyline {
  stroke: #696969;
}
.bc-back:hover .btn-back span {
  transform: translateX(0);
  opacity: 1;
}
.bc-back:hover ul.bc-nav-history {
  transform: translateY(0);
  pointer-events: auto;
}
.bc-back:hover ul.bc-nav-history li {
  margin-bottom: 8px;
}
.bc-back:hover ul.bc-nav-history li::after {
  background: #D9D9D9;
  transform: translateY(6px);
}
.bc-back:hover ul.bc-nav-history li.active::after {
  background: #5a667f;
}
.bc-back:hover ul.bc-nav-history li a {
  opacity: 1;
  transform: translateY(0);
}
.bc-back:hover ul.bc-nav-links {
  position: relative;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.btn-back div {
  position: relative;
  z-index: 1;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #0e0e0e;
  float: left;
}
.btn-back div svg {
  fill: none;
  transform: translate(10px, 7px);
}
.btn-back div svg path, .btn-back div svg polyline {
  stroke: #f4f4f4;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.btn-back span {
  display: inline-block;
  color: #0e0e0e;
  margin-left: 10px;
  line-height: 34px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.2s ease;
}
#plan{
  text-align:center;
}
/* Contact Page */
#container{
  border: solid 3px #D9D9D9;
  border-radius: 30px;
  box-shadow: 0px 15px 35px rgba(105,105,105,0.5);
  width: 60%;
  margin: 60px auto;
  position: relative;
  background: rgb(255,248,220);
  background: linear-gradient(90deg, rgba(255,248,220,1) 0%, rgba(188,143,143,1) 100%);
}
form{
  padding: 30px;
  margin: 50px 0;
}
h1{
  color: #000;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 7px;
  text-align: center;
  padding-top:30px;
}
.underline{
  border-bottom: solid 2px #696969;
  margin: auto;
  width: 150px;
}
.inb{
  display:inline-block;
}
input[type='text'], [type='email'], [type='tel'], textarea{
  display:inline-block;
  background: none;
  border: 2px solid #A9A9A9;
  border-radius: 5px;
  color: #000;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
  width: 100%;
  box-sizing: border-box;
}
input[type='text']:focus, [type='email']:focus, [type='tel']:focus, textarea:focus{
  outline: none;
}
textarea{
  resize: none;
  width: 100%;
}
button{
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 35px;
  box-shadow: 3px 3px 0px 0px;
  background: #fdefef;
  color: #808080;
  box-shadow: 0px 15px 35px rgba(0,0,0,0.5);
}
.button{
  text-align:center;
}
button:hover{
  color: #696969;
  background: #DB7093;
}
/*Clothes Page*/
.table1 {
  display: flex;
  justify-content: center;
}
.table1 table:nth-of-type(2) {
  display: none;
}
.table1 table:not(:first-of-type), .table1 .table-display:not(:first-of-type) {
  display: none;
}
.table1 #table_pager_1:hover ~ table:nth-of-type(2) {
  display: table;
}
.tab {
  padding:25px 100px;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-content {
  display: inline-block;
  position: relative;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width:25%;
  height:100px;
}
td img {
  width:100%;
  height: auto;
  display: block;
  margin: 0 auto;
  width: 100%;
}
.table-display{
  text-align:center;
}
/* Pagination styles */
.pagination1,pagination2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.pagination1 label,.pagination2 label {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ccc;
}
.pagination1 label.active, .pagination2 label.active {
  background-color: #DB7093;
  color: #D9D9D9;
  border: 1px solid #FFB6C1;
}
.pagination2 label.disabled {
  color: #ccc;
  cursor: default;
}
.table1 .tab:nth-child(2) label#table_pager_1.active ~ .pagination1 {
  display: flex;
}
.table1 .tab .pagination2 {
  display: none;
}
/* Footer */
.footer-main{
  display:grid;
  background-color:rgb(222,198,198);
  color: #696969;
  grid-template-columns: repeat(3, 342px);
  width: auto;
  margin:auto;
  height:250px;
  padding-left: 68px;
  font-family: 'Bree Serif', serif;
}
.footer-left{
  padding-top:100px;
}
.footer-left ul{
  list-style: none;
}
.footer-left ul li a{
  text-decoration:none;
}
.footer-center{
  padding-top:100px;
}
.footer-center ul{
  list-style: none;
}
.footer-center ul li a{
  text-decoration:none;
}
.footer-right{
  padding-top:100px;
}
.index-part-3-container p:nth-child(n){
  text-align: right;
}
.index-part-3-container p:nth-child(2n){
  text-align: left;
}
.index-part-3-container {
  margin: 0 10% 0 10%;
}
#index-background {
  z-index: -1;
  width: 100%;
  position: fixed;
}
.daily-outfit {
  display: none;
  height: auto;
  width: 70%;
}
.img-box {
  list-style-type: none;
}
.sidebar {
  width: 20%;
  height: 2000px;
  background-color:palevioletred;
  position: sticky;
  top: 10px;
  float: left;
}
.display-img {
  width: 100%;
  position: relative;
}
.hover-pic {
  width: 100%;
  position: absolute;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.col-6, .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.language-switch {
  display: inline-block;
  position: absolute;
  right: 0;
  padding-right: 1%;
  top: -1px;
  font-size: 13px;
  font-weight: bolder;
  color: #999494;
}
.user-actions {
  display: inline-flex;
  position: absolute;
  right: 0;
  align-items: center;
  margin-right: 26%;
}
.user-actions .sign-in {
  font-size: 14px;
  margin-right: 10px;
}
.user-actions i {
  font-size: 20px;
  margin-right: 10px;
}
#search-box {
  flex-grow: 0;
  padding-right: 1%;
  margin-right: 1%;
}
.nav-bar ul li {
  display: inline;
  margin-right: 20px;
}
.top-container h1{
  margin-left: 2%;
  margin-bottom: 2%;
}
.index-part-1-container {
  display: flex;
  align-items: center;
  padding-top: 0!;
  padding-right:50px;
  margin-top: 0!;
  height: 70vh;
  margin-bottom: 0;
}

.carousel {
  margin-top: 0;
  padding-top: 0;
  width: 66.58%;
  height: 100%;
}
.carousel-control-prev, .carousel-control-next {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: transparent;
  box-shadow: none;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inb {
  display: inline-block;
  width: 600px;
  margin-bottom: 1px;
}
#index-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  filter: brightness(20%);
}
#contact-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  filter: brightness(20%);
}




.nav-bar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Bree Serif', serif;
    
}
.nav-bar ul li a{
  color:black;
  padding:2px 3px;
  border-radius:10px;
}
.nav-bar ul li a:hover{
  color:#DB7093;
  text-decoration:none;
  background-color:#A9A9A9;
  transition:background-color 150ms ease-in-out;
}
.nav-bar ul li a:active{
  text-decoration:none;
  color:#D498B1;
}
.nav-bar ul li a:visited{
  text-decoration:none;
  color:#B48286;
}

td img {
  overflow: hidden;
  height: 100%;
  width: auto;
}